.events {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #aaa;

  &--icon-right {
    flex-direction: row-reverse;
  }

  &__icon {
    width: 90px;

    i {
      font-size: 90px;
      color: #aaa;
    }
  }

  &__description {
    width: 560px;

    &__title {
      margin-bottom: 16px;

      color: #ff1b1c;
    }

    &__description {
    }
  }

  &:nth-child(2n) {
    .event__description {
      &__title {
        color: #d30c7b;
      }
    }
  }

  @media screen and (max-width: 640px) {
    gap: 32px;

    &__description {
      &__title {
        margin-bottom: 16px;

        color: #ff1b1c;
        font-size: 1.3rem;
      }

      &__description {
        font-size: 0.9rem;
      }
    }
  }
}
